extends "base.jade"

block main
  h1 Well this is not good
  h2 Something's definitely gone wrong here
  p
    | Site admins will be notified immediately. God's willing:
    a(href=url_for('main.main_page')) this link
    | will take you back to the homepage.
