extends base.jade

block main
    h1 About Page
    h2 Test Bed For New Things
    p
      This site was created as a test bed for trying out new techniques, and developing
      my skills in various different ways. Furthermore I intend for it to be a showcase
      of the various tasks I can complete
