extends base.jade

block main
    h1 Home Page
    h2 Raditude Here
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
    p Just filler
