extends base.jade

block main
  .container-fluid
    .row
      h1 Login Page
    .row
      .col-md-6
        form#login.form(method='POST')
          = login_form.hidden_tag()
          .form-group
            = login_form.username.label
            = login_form.username(class='form-control', placeholder="Username")
          .form-group
            = login_form.password.label
            = login_form.password(class='form-control', placeholder="Password")
          input.btn.btn-success(type="submit", value="Sign in")
    .row
      .col-md-6
        p
          small If you haven't created your own account you can&nbsp
            a(href=url_for('users.register_user')) register here
